html {
    background-color: rgb(231, 253, 253);
}

body {
    align-items: center;
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}
#canvas {
    height: 50%;
    border-style: solid;
}